@import url("https://fonts.googleapis.com/css?family=Epilogue");

html {
  box-sizing: border-box;
  padding: 0;
  background: #fafafa;
}
body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary-btn {
  background: transparent;
  border: 2px solid #000;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Epilogue", sans-serif;

}

.secondary-btn {
  cursor: pointer;
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
}
